@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'feathericons';
	src:url('../fonts/feathericons/feathericons.eot?-8is7zf');
	src:url('../fonts/feathericons/feathericons.eot?#iefix-8is7zf') format('embedded-opentype'),
		url('../fonts/feathericons/feathericons.woff?-8is7zf') format('woff'),
		url('../fonts/feathericons/feathericons.ttf?-8is7zf') format('truetype'),
		url('../fonts/feathericons/feathericons.svg?-8is7zf#feathericons') format('svg');
}

.grid {
	overflow: hidden;
	margin: 0;
	padding: 0px;
	width: 100%;
	list-style: none;
	text-align: center;
	height: 257px;
}

/* Common style */
.grid figure {
	display: inline-block;
	overflow: hidden;
	margin: 0;
	width: 33.333%;
	background: #fff;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure /* a */ {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/*---------------*/
/***** Zoe *****/
/*---------------*/

figure.effect-zoe figcaption {
	top: auto;
	bottom: 0;
	padding: 0;
	height: 3.75em;
	background: #fff;
	color: #3c4a50;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

figure.effect-zoe h2 {
	text-align: center;
}

figure.effect-zoe figcaption > span {
	float: right;
}

figure.effect-zoe .buttons {
	position: absolute;
	bottom: 7em;
	opacity: 0;
	left: 20%;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
	display: flex;
	
}

figure.effect-zoe h2, figure.effect-zoe figcaption > span {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
	font-size: 19px;
}

figure.effect-zoe figcaption > span::before {
	display: inline-block;
	padding: 8px 10px;
	font-family: 'feathericons';
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-eye::before {
	content: '\e000';
}

.icon-paper-clip::before {
	content: '\e001';
}

.icon-heart::before {
	content: '\e024';
}

figure.effect-zoe h2 {
	display: inline-block;
	text-transform: none;
}

figure.effect-zoe p{
	font-size: 14px;
}

figure.effect-zoe:hover .buttons {
	opacity: 1;
}

figure.effect-zoe:hover figcaption,
figure.effect-zoe:hover h2,
figure.effect-zoe:hover figcaption > span {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-zoe:hover h2 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-zoe:hover figcaption > span:nth-child(4) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-zoe:hover figcaption > span:nth-child(3) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

figure.effect-zoe:hover figcaption > span:nth-child(2) {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
figure.effect-zoe img{
	margin-top: 0px;
	-webkit-transition: margin 1s ease;
	   -moz-transition: margin 1s ease;
		 -o-transition: margin 1s ease;
		-ms-transition: margin 1s ease;
			transition: margin 1s ease;
}
figure.effect-zoe:hover img{
margin-top: -20%;
opacity: .8;
}
figure.effect-zoe .buttons img:hover{
	font-size: 90%;
}
figure.effect-zoe .fa{
	color: #ffffff;
	margin-left: 25px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 1px solid white;
	padding-top: 18px;
}

figure.effect-zoe .fa-external-link{
	padding-left: 5px;
}

figure.effect-zoe .fa:hover{
	background: #ffffff;
	color: #ff2700;
	transition: 1s;
}
